.contenido{
    margin: 20px auto;
    background-color: rgba(37, 37, 37, 0.904);
    width: 70%;
    height: auto;
    border-radius: 1%;
    border-bottom: 2px solid #AB966F;
    border-top: 2px solid #AB966F;
    padding: 20px;

    .text-center-1,
    .text-center-2,
    .text-center-3,
    .text-center-4{
        margin-top: 30px;

        h1,
        h2,
        h3{
            color: #ffffff;
            font-size: 1.7vw;
            font-weight: bold;
        }

        p{
            color: white;
            max-width: 55vw;
            padding: 5px;
            font-size: 1.3vw;
        }
    }

    .imagen{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px;
        img{
            width: auto;
            height: 10vw;
            cursor: pointer;
            border-radius: 2px;
            border: 5px solid black;
            
        }
    }
}