

/*575.98px*/

@mixin font__size-titulo-575{
    font-size: 4.5vw;
    color: rgb(158, 158, 158);
}

@mixin font__size-parrafo-575{
    font-size: 2.3vw;
}

/*767.98px*/

@mixin font__size-titulo-767{
    font-size: 3.5vw;
    color: rgb(158, 158, 158);
}

@mixin font__size-parrafo-767{
    font-size: 2.3vw;
}
/*992px*/

@mixin font__size-titulo-992{
    font-size: 3.5vw;
    color: rgb(158, 158, 158);
}

@mixin font__size-parrafo-992{
    font-size: 2vw;
}

/*1200px*/

@mixin font__size-titulo-1200{
    font-size: 2.7vw;
    color: rgb(158, 158, 158);
}

@mixin font__size-parrafo-1200{
    font-size: 1.7vw;
}

/*1400px*/

@mixin font__size-titulo-1400{
    font-size: 2.4vw;
    color: rgb(158, 158, 158);
}

@mixin font__size-parrafo-1400{
    font-size: 1.7vw;
}