@import "pages/contenido";
@import "pages/requisitos";
@import "pages/facciones";
@import "pages/formulario";
@import "pages/wallpaper";
@import "font-size";

:root{
    --color-menu: #222222cc;
    --color-menu-responsive: #222222fa;
    --color-titulo: rgb(158, 158, 158);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

html{

    body{
        background: #fff url("../image/Fondo4.webp") fixed center; 
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: absolute;
    }
}


/*Menu*/

header{
    z-index: 1;
    position: relative;
    background-color: var(--color-menu);
    height: 80px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu{

        li{
            display: inline-block;

            a{ 
                color: #bbb9b9;
                font-size: 20px;
                margin: 10px;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .4s;
            }
    
            a:hover{
                color: #ffffff;                                                                                       
            }
        }

        li::after{
            content: '';
            width: 0%;
            display: block;
            margin: auto;
            margin-top: 5px;
            height: 2px;
            background-color: rgb(255, 255, 255);
            transition: all .4s;
        }

        li:hover::after{
            width: 90%;
        }
    }


    .mostrar-menu{
        order: 1;
    }

    .esconder-menu,
    .mostrar-menu{
        font-size: 30px;
        color: #ffffff;
        display: none;
        cursor: pointer;
    }

    .esconder-menu:hover,
    .mostrar-menu:hover{
        color: #CBCBCB; 
    }

    #check{
        display: none;
    }
}

footer{
    div{

        section{

            a{

                i{
                    font-size: 1.2vw;
                }
            }
        }
    }
}



// X-Small devices (portrait phones, less than 576px)
@media  only screen and (min-width: 0px) and (max-width: 575.98px) {
    /*Menu*/


    header{
        height: 5%;
        justify-content: end;
    
        .mostrar-menu,
        .esconder-menu{
            display: block;
            margin-right: 40px;
        }
        
        .esconder-menu{
            position: absolute;
            top: 40px;
            right: 40px;
        }
    
        #check:checked ~ .menu{
            right: 0;
        }
    
        .menu{
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: var(--color-menu-responsive);
            top: 0;
            right: -100%;
            z-index: 100;
            text-align: center;
            padding: 100px 0px;
            transition: all .4s ease;
            
            li{
                display: unset;
                a{
                    display: block;
                }
            }
    
            li:after{
                max-width: 100px;
            }
    
            li:hover:after{
                max-width: 20%;
            }
        }

        
    
    }
    
    .contenido{
        width: 90%;
    
        .text-center-1,
        .text-center-2,
        .text-center-3,
        .text-center-4{
        margin-top: 30px;
    
        h1,
        h2,
        h3{
            color: white;
            margin: 10px auto;
            @include font__size-titulo-575;
        }
    
        p{
            color: white;
            width: 100%;
            padding: 5px;
            @include font__size-parrafo-575;
            max-width: unset;
        }
    }

    .imagen{
        gap: 20px;
        img{
            width: 100%;
            height: 15vw;
            cursor: pointer;
            border-radius: 2px;
            border: 2px solid black;
            
        }
    }
    }

    .requisito{
        h2,
        h3{
            @include font__size-titulo-575;
        }

        .center-line {

            .texto__info{
                @include font__size-parrafo-575;
            }
        }
    }

    .facciones{

        flex-direction: column;

        .texto-facc{
            width: 100%;

            h2{
                @include font__size-titulo-575;
            }

            p{
                @include font__size-parrafo-575;
                margin-left: 0;
            }
        }

        .table__test{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            table{
                
                top: 0;
                right: 0;
                margin: 0;
                
            }
        }
    }

    .center{

        .register{

            width: 90%;
            

            h4{

                @include font__size-titulo-575;
            }

            p,
            a{
                @include font__size-parrafo-575;
            }

            input,
            nput::-webkit-input-placeholder {
            @include font__size-parrafo-575;
            line-height: 3;
            }
        }
    }

    .photo-gallery{

        height: auto;
    }
}

    

// Small devices (landscape phones, less than 768px)
@media only screen and (min-width:575.98px) and (max-width: 767.98px) {

    header{

        .menu{

            li{

                a{
                    font-size: 2.3vw;
                }
            }
        }
    }

    .contenido{
        width: 90%;

        .text-center-1,
        .text-center-2,
        .text-center-3,
        .text-center-4{

            h1,
            h2,
            h3{
            color: white;
            margin: 10px auto;
            @include font__size-titulo-767;
        }
    
            p{
            color: white;
            max-width: 70vw;
            padding: 5px;
            @include font__size-parrafo-767;
            }
        }

        .imagen{
            gap: 20px;
            img{
                width: 100%;
                height: 15vw;
                cursor: pointer;
                border-radius: 2px;
                border: 2px solid black;
                
            }
        }
    }

    .requisito{

        h2,
        h3{
            @include font__size-titulo-767;
        }

        .center-line {

            .texto__info{
                @include font__size-parrafo-767;
            }
        }
    }

    .facciones{
        justify-content: unset;
        flex-direction: column;

        .texto-facc{
            max-width: none;

            h2{
                @include font__size-titulo-767;
            }
            
            p{
                @include font__size-parrafo-767;
                width: 100%;
                margin-left: 0;
            }
        }
        
        .table__test{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            table{
                
                top: 0;
                right: 0;
                margin: 0;
                
            }
        }
    }

    .center{

        .register{

            h4{

                @include font__size-titulo-767;
            }

            p,
            a{
                @include font__size-parrafo-767;
            }

            input,
            nput::-webkit-input-placeholder {
            @include font__size-parrafo-767;
            line-height: 3;
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {

    .contenido{
        width: 90%;

        .text-center-1,
        .text-center-2,
        .text-center-3,
        .text-center-4{

            h1,
            h2,
            h3{
            color: rgb(255, 255, 255);
            margin: 10px auto;
            @include font__size-titulo-992;
        }
    
            p{
            color: white;
            max-width: 70vw;
            padding: 5px;
            @include font__size-parrafo-992;
            }
        }

        .imagen{
            gap: 20px;
            img{
                width: 100%;
                height: 15vw;
                cursor: pointer;
                border-radius: 2px;
                border: 2px solid black;
                
            }
        }
    }

    .requisito{

        h2,
        h3{
            @include font__size-titulo-992;
        }

        .center-line {

            .texto__info{
                @include font__size-parrafo-992;
            }
        }
    }

    .facciones{

        .texto-facc{

            h2{

                @include font__size-titulo-992;
            }

            p{
                @include font__size-parrafo-992;
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .center{

        .register{

            h4{

                @include font__size-titulo-992;
            }

            p,
            a{
                @include font__size-parrafo-992;
            }

            input,
            nput::-webkit-input-placeholder {
            @include font__size-parrafo-992;
            line-height: 3;
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media only screen and (min-width: 991.98px) and (max-width: 1199.98px) {
    
    .contenido{
        width: 90%;

        .text-center-1,
        .text-center-2,
        .text-center-3,
        .text-center-4{

            h1,
            h2,
            h3{
            color: white;
            margin: 10px auto;
            @include font__size-titulo-1200;
        }
    
            p{
            color: white;
            max-width: 70vw;
            padding: 5px;
            @include font__size-parrafo-1200;
            }
        }

        .imagen{
            gap: 20px;
            img{
                width: 100%;
                height: 15vw;
                cursor: pointer;
                border-radius: 2px;
                border: 2px solid black;
                
            }
        }
    }
    
    .requisito{

        h2,
        h3{
            @include font__size-titulo-1200;
        }

        .center-line {

            .texto__info{
                @include font__size-parrafo-1200;
            }
        }
    }

    .facciones{

        .texto-facc{

            h2{

                @include font__size-titulo-1200;
            }

            p{
                @include font__size-parrafo-1200;
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .center{

        .register{

            h4{

                @include font__size-titulo-1200;
            }

            p,
            a{
                @include font__size-parrafo-1200;
            }

            input,
            nput::-webkit-input-placeholder {
            @include font__size-parrafo-1200;
            line-height: 3;
            }
        }
    }
}

// X-Large devices (large desktops, less than 1400px)
@media only screen and (min-width: 1199.98px) and (max-width: 1399.98px) {

    .contenido{
        width: 90%;

        .text-center-1,
        .text-center-2,
        .text-center-3,
        .text-center-4{

            h1,
            h2,
            h3{
            color: white;
            margin: 10px auto;
            @include font__size-titulo-1400;
        }
    
            p{
            color: white;
            max-width: 70vw;
            padding: 5px;
            @include font__size-parrafo-1400;
            }
        }

        .imagen{
            gap: 20px;
            img{
                width: 100%;
                height: 15vw;
                cursor: pointer;
                border-radius: 2px;
                border: 2px solid black;
                
            }
        }
    }

    .requisito{

        h2,
        h3{
            @include font__size-titulo-1400;
        }

        .center-line {

            .texto__info{
                @include font__size-parrafo-1400;
            }
        }
    }

    .facciones{

        .texto-facc{

            h2{

                @include font__size-titulo-1400;
            }

            p{
                @include font__size-parrafo-1400;
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .center{

        .register{

            h4{

                @include font__size-titulo-1400;
            }

            p,
            a{
                @include font__size-parrafo-1400;
            }

            input,
            nput::-webkit-input-placeholder {
            @include font__size-parrafo-1400;
            line-height: 3;
            }
        }
    }
}