.facciones{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px auto;
        background-color: rgba(37, 37, 37, 0.904);
        width: 90%;
        height: auto;
        border-radius: 1%;
        border-bottom: 2px solid #AB966F;
        border-top: 2px solid #AB966F;
        padding: 20px;
        gap: 50px;

        div{
            
            h2{
                color: rgb(158, 158, 158);
                text-align: center;
            }
            
            p{
                margin-left: 100px;
                max-width: 800px;
                color: white;
                margin-top: 10px;
                font-size: 1.3vw
            }
        }

        /* Tabla */
        
        table{
            background-color: black;
            width: 10vw;
            height: 10vh;
            border-radius: 20px;
            right: 80px;
            margin: 50px;
            
            tbody{
                
                tr{
                    background-color: black;
                    
                    th{
                        background-color: black;
                        border-radius: 20px;
                        
                    }
                }
                td{
                    
                    .center-table{

                        .floatnone{

                            img{

                                width: 7vw;
                            }
                        }
                    }
                }
            }
        }
}